.sticky_code_01 {
  background: url("~@/assets/vue.png");
}
.sticky_code_02 {
  background: url("~@/assets/react.svg");
}
.sticky_code_03 {
  background: url("~@/assets/angular.png");
}
.sticky_code_04 {
  background: url("~@/assets/ember.png");
}
